<!-- menu de navegacion -->
<section class="globe-earth">
  <h1 class="logo-name">INCROMA</h1>
</section>

<img class="logo-incroma" src="assets/img/logo_sinfondo.png" alt="logo Incroma">

<nav>
  <ul>
    <li class="search-queries">
      <button title="Búsquedas y Consultas" (click)="fnSearchQueriesMenu()">
        <img src="assets/icons_svg/searchQueries.svg" alt="Búsquedas y Consultas"/>
      </button>
    </li>
    <li class="spatial-analysis">
      <button title="Análisis Espacial" (click)="fnAnalysisMenu()">
        <img src="assets/icons_svg/analysis.svg" alt="Análisis Espacial" >
      </button>
    </li>
    <li class="tools">
      <button title="Herramientas" (click)="fnToolsMenu()">
        <img src="assets/icons_svg/tools.svg" alt="Herramientas">
      </button>
    </li>
    <li class="info">
      <button title="Información" (click)="fnInfoMenu()" >
        <img src="assets/icons_svg/question_mark.svg" alt="Información">
      </button>
    </li>
    <li class="home">
      <button title="home">
        <img src="assets/icons_svg/home.svg" alt="home">
      </button>
    </li>
    <li class="stacks">
      <button title="Capas">
        <img src="assets/icons_svg/stacks.svg" alt="Capas">
      </button>
    </li>
    <li class="location">
      <button title="Ubicación">
        <img src="assets/icons_svg/location.svg" alt="Ubicación" >
      </button>
    </li>
    <li class="zoomIn">
      <button title="Zoom (+)" (click)="fnZoomIn()" >
        <img src="assets/icons_svg/zoom_in.svg" alt="Zoom (+)">
      </button>
    </li>
    <li class="zoomOut">
      <button title="Zoom (-)" (click)="fnZoomOut()">
        <img src="assets/icons_svg/zoom_out.svg" alt="Zoom (-)">
      </button>
    </li>
    <li class="search">
      <button title="Busqueda de componente minero" (click)="fnOpenSearchMenu()">
        <img src="assets/icons_svg/search.svg" alt=" Icono de búsqueda de componente minero">
      </button>
    </li>
  </ul>
</nav>

<!-- subMenus -->
<section class="box searchQueriesSubMenu" [hidden]="hiddenBoxSearchQueries" cdkDrag>
  <div class="box-header">
    <div class="title-submenu">
      <img src="assets/icons_svg/searchQueries.svg" alt="icono search queries">
      &nbsp;
      <h4>Búsquedas y Consultas</h4>
    </div>
    <button type="button" class="btn-close-menu"(click)="fnCloseButtonSearchQueries()">X</button>
  </div>
  <div class="box-body">
    <ul class="submenu-list">
      <li><a href="" target="_blank">Consulta Geológica</a></li>
      <li><a href="" target="_blank">Plano catastral A4</a></li>
      <li><a href="" target="_blank">Catastro x Región</a></li>
      <li><a href="" target="_blank">Ubicar Coordenada</a></li>
    </ul>
  </div>
</section>

<section class="box spatialAnalysisSubMenu" [hidden]="hiddenBoxAnalysis" cdkDrag>
  <div class="box-header">
    <div class="title-submenu">
      <img src="assets/icons_svg/analysis.svg" alt="icono de análisis espacial">
      &nbsp;
      <h4>Análisis Espacial</h4>
    </div>
    <button type="button" class="btn-close-menu"(click)="fnCloseButtonAnalysis()">X</button>
  </div>
  <div class="box-body">
    <ul class="submenu-list">
      <li><a href="" target="_blank">Mapa de peligrosos geológico</a></li>
      <li><a href="" target="_blank">Análisis de riesgo geológico</a></li>
      <li><a href="" target="_blank">Mapa de calor</a></li>
    </ul>
  </div>
</section>

<section class="box toolsSubMenu" [hidden]="hiddenBoxTools" cdkDrag>
  <div class="box-header">
    <div class="title-submenu">
      <img src="assets/icons_svg/tools.svg" alt="icono herramientas">
      &nbsp;
      <h4>Herramientas</h4>
    </div>
    <button type="button" class="btn-close-menu"(click)="fnCloseButtonTools()">X</button>
  </div>
  <div class="box-body">
    <ul class="submenu-list">
      <li><a href="" target="_blank">Identificar</a></li>
      <li><a href="" target="_blank">Leyenda</a></li>
      <li><a href="" target="_blank">Añadir datos</a></li>
      <li><a href="" target="_blank">Compartir mapa</a></li>
      <li><a href="" target="_blank">Importar Excel</a></li>
    </ul>
  </div>
</section>

<section class="box infoSubMenu" [hidden]="hiddenBoxInfo" cdkDrag>
  <div class="box-header">
    <div class="title-submenu">
      <img src="assets/icons_svg/question_mark.svg" alt="iconoinformación">
      &nbsp;
      <h4>Información</h4>
    </div>
    <button type="button" class="btn-close-menu"(click)="fnCloseButtonInfo()">X</button>
  </div>
  <div class="box-body">
    <ul class="submenu-list">
      <li><a href="" target="_blank">Acerca de</a></li>
      <li><a href="" target="_blank">Manual de Incroma</a></li>
    </ul>
  </div>
</section>

<!-- Componente search -->
<app-search [hiddenBoxSearch]="showSearchComponent" (clickButtonX)="fnCloseSearchComponent($event)"/>
