@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
.logo-incroma{
  position: absolute;
  z-index:999;
  top:2em;
  right:1em;
  width:5em;
  height:3em;
}
.globe-earth{
  width: 5.75em;
  height:5.75em;
  border-radius: 50%;
  background: url('../../../../assets/img/tierra.jpg') top left;
  background-size: cover;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:2.5em;
  left:0.5em;
  box-shadow: 0px 5px 15px #7381a5;
  animation: round 30s linear infinite;
}
@keyframes round{
  0% {
    background-position-x:0 ;
  }
  100% {
    background-position-x:-800px;
  }
}
.logo-name{
  z-index: 999;
  font-family: 'Fredoka One', cursive;
  font-size: large;
  color: transparent;
  background-color:#2468fc;
  background-image: repeating-linear-gradient(45deg,transparent,#2468fc  25px,#084bdb 25px,#fff 50px);
  -webkit-background-clip: text;
  background-clip: text;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  animation: color 50s linear infinite;
  background-size: 250%;
  text-shadow: #fff 1px 1px 0;
}
@keyframes color {
  from {
    background-position: 0% 50%;
  }
	to {
    background-position: 100% 50%;
  }
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  background:linear-gradient(120deg,#000005, #011020, #2468fc,#2c94f5);
  z-index: 999;
  cursor: pointer;
  transition: 0.3s all;
  list-style: none;

}
nav>ul>li>button>img{
  width: 25px !important;
  height: 25px !important;
}
nav ul li:hover{
  background:linear-gradient(120deg, #000005, #2468fc,#2c94f5);
  box-shadow: 0 1px #032b99;
  transition: transform 0.5s;
}
.search-queries{
  top:3em;
  left:6em;
}
.spatial-analysis{
  top:5.5em;
  left:6.25em;
}
.tools{
  top:7.5em;
  left:4.75em;
}
.info{
  top:8.5em;
  left:2.5em;
}
.home{
  top: 16.25em;
  left:0.5em;
}
.stacks{
  top:19em;
  left:0.5em;
}
.location{
  top:21.75em;
  left:0.5em;
}
.zoomIn{
  top:24.5em;
  left:0.5em;
}
.zoomOut{
  top: 27.25em;
  left:0.5em;
}
.search{
  top: 30em;
  left:0.5em;
}

/* submenus */
.submenu-list>li{
  padding:0.5em 1em;
  background-color: #2c94f5;
  opacity: 0.9;
  border-radius: 0;
  border:solid 1px transparent;
}
.submenu-list>li:last-of-type{
  border-radius: 0 0 4px 4px;
}
.submenu-list>li:hover{
  z-index: 999;
  background-color: #fff;
  border:solid 1px #06b0f3;
  color: #2c94f5;
  font-weight: 700;
  opacity: 1;
}
.searchQueriesSubMenu{
  z-index: 1000;
  top:5em;
  left:10em;
}
.spatialAnalysisSubMenu{
  z-index: 1000;
  top:8em;
  left:10.5em;
}
.toolsSubMenu{
  z-index: 1000;
  top:11em;
  left:8.5em;
  .box-header{
    min-width:12em;
  }
}
.infoSubMenu{
  z-index: 1000;
  top:12em;
  left:6em;
  .box-header{
    min-width:5.5em;
  }
}
