<div id="map" #map></div>

<ul class="list-group list-disc bg-slate-400">
    <li *ngFor="let colorMarker of markers; let i = index" 
        [ngStyle]="{ backgroundColor: colorMarker.color }"
        (click)="flyTo(colorMarker.marker)"
        (dblclick)="deleteMarker(i)"
        class="px-2 py-1 bg-gray-200 hover:bg-blue-700 hover:text-white">
        Marker {{ i + 1 }}
    </li>
</ul>


<button 
    (click)="createMarker()"
    class="bg-blue-600 px-2 text-white rounded-sm">
    + Agregar Marcador
</button>
