<div id="map" #map></div>

<div class="floating-range p-2">
    <div class="floating-content">
        <button (click)="zoomOut()" class="bg-blue-600 px-2 text-white rounded-sm"> - </button>
        <input type="range" 
            class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer" 
            min="-2" 
            max="18"
            [value]="zoom"
            (input)="zoomChanged( zoomInput.value)"
            #zoomInput
        >
        <button (click)="zoomIn()" class="bg-blue-600 px-2 text-white rounded-sm"> + </button>
    </div>
    <span class="text-blue-500">
        Zoom: {{ zoom | number:'2.2-2' }}
        <br>
        Lng,Lat {{ currentLngLat }}
    </span>
</div>